services:

  joomla:
    image: joomla:6-apache
    restart: always
    ports:
      - 8080:80
    environment:
      JOOMLA_DB_HOST: db
      JOOMLA_DB_USER: joomla
      JOOMLA_DB_PASSWORD: examplepass
      JOOMLA_DB_NAME: ccbc_2025
      JOOMLA_DB_PREFIX: ccbc2025_
      JOOMLA_SITE_NAME: Joomla
      JOOMLA_ADMIN_USER: Joomla Hero
      JOOMLA_ADMIN_USERNAME: joomla
      JOOMLA_ADMIN_PASSWORD: joomla@secured
      JOOMLA_ADMIN_EMAIL: joomla@example.com
      VIRTUAL_HOST: dev.ccbc.org.hk
      LETSENCRYPT_HOST: dev.ccbc.org.hk
    volumes:
      - .:/var/www/html
      - ./000-default.conf:/etc/apache2/sites-enabled/000-default.conf
    networks:
      - proxy_network

networks:
  proxy_network:
    external: true
    name: nginx_proxy_network