$colorMain            : rgb(247, 194, 33) !default;
$colorWhite           : white !default;
$colorBlack           : rgb(44, 46, 54) !default;
$colorSocialLink      : rgb(136, 136, 136) !default;
$colorSocialLinkHover : rgb(255, 255, 255) !default;