.tf-video-input-previewer-wrapper{max-width:500px;margin-top:10px;display:none}.tf-video-input-previewer-wrapper.is-visible{display:-webkit-box;display:-ms-flexbox;display:flex}.tf-video-input-previewer-wrapper iframe,.tf-video-input-previewer-wrapper video{border:0;width:100%}

